pandas
numpy
numpy<2  # Ou numpy==1.26.4 - Nécessaire pour scikit-surprise 1.1.3
matplotlib
scikit-learn
scikit-surprise
uvicorn[standard] # Serveur ASGI avec dépendances standard
fastapi
plotly
seaborn # Utile pour d'autres visualisations statistiques
